@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Martel:wght@600&family=Playfair+Display:ital@0;1&display=swap');
/*font-family: 'Martel', serif;*/

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout {
    width: 35vh;
    height: 50vh;
    background: linear-gradient(rgb(119, 252, 252), rgb(148, 241, 210));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1.5vh;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.calculator {
    margin-left: 4.5vh;
}

input {
    font-family: 'Martel', serif;
    margin: 2px 1px;
    padding: 2px;
}

.display {
    width: 30vh;
    height: 8vh;
    margin-right: 3px;
    border-radius: 1cap;
    border-color: #00ecfd;
    background-color: #cafdff;
    cursor: pointer;
    text-align: right;
    font-size: 32px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.buttons > input {
    margin-top: 1.2vh;
    color: white;
    background: linear-gradient(rgb(128, 247, 207), rgb(90, 248, 248));
    border:solid 1px;
    border-radius: 6cap;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    font-size: 26px;
}

.buttons > input:hover {
    background: #9bf7ef;
}

.buttons > input:active {
    background: linear-gradient(rgb(119, 252, 252), rgb(148, 241, 210));
    box-shadow: none;
}

.clean {
    width: 15vh;
    height: 5.5vh;
}

.num {
    width: 7vh;
    height: 5.5vh;
}

.operat {
    width: 7vh;
    height: 5.5vh;
}
.operat1 {
    width: 15vh;
    height: 5.5vh;
}

.clean1 {
    width: 7vh;
    height: 5.5vh;
}